/* Variables */

$color-light: #ffffff;
$color-main: #17daa3;
$color-activ: #15BF8F;
$color-neutral: #87949e;
$color-neutral-d: #576671;
$color-neutral-1: #edeff1;
$color-bgr-alt: #f9f9fa;
$color-btn-activ: rgba(0, 0, 0, 0.3);
$font-text: 'Raleway', sans-serif;

/* General */

*, *::before, *::after {
        box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-text;
    font-size: 18px;
    color: $color-neutral;
}

.container {
    max-width: 1470px;
    padding: 0 40px;
    margin: 0 auto;  
    height: 100%;
}

.container-100 {
    width: 100vw;
    margin: 0;
    padding: 0 40px;
    height: 100%;
    overflow: hidden;
}

section {
    padding-top: 55px;
    padding-bottom: 55px;
}
h1 {
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 1.5px;
    margin: 0;
    color: $color-neutral-d;
}

.section-title {
    text-align: center;
    margin: 70px 0;
    h1 {
        margin: 53px 0;
        position: relative;
        &::before {
            content: "";
            width: 30px;
            height: 1px;
            background: $color-main;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    h2 {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.45px;
        margin: 0;
        line-height: 40px;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: $color-light;
    background-color: $color-main;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    border-radius: 24px;
    border: 2px solid $color-light;
    width: 184px;
    &:hover {
        background-color: $color-activ;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.column {
    padding: 45px 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Header */

header {
    background-image: url('../images/Slash_bg.png');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 550px;
    padding: 55px 0;
    .container {
        display: flex;
        flex-direction: column;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;   
        justify-content: center;  
        flex: 1; 
    }
    .nav-bar {
        flex: 0 0 auto;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;   
        min-height: 215px;
        .column {
            flex: 0 1 auto;
            flex-direction: row;
            padding-bottom: 15px;
            padding-top: 15px;
            align-items: flex-start;
        }
        .menu {
            display: flex;
            justify-content: flex-end;
            margin: 0;
        }
        ul {
            list-style-type: none;
            display: inline-block;
            margin: 0;
        }
        li {
            display: inline-block;
            margin-right: 36px;
        }
        a {
            text-decoration: none;
            color: $color-light;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.35px;
            &:hover{
                opacity: 0.5;
            }
        }
        li:last-child>a {
            font-size: 0;
            img {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .img {
            margin: 0;
        }
        .fas {
            display: none;
            color: $color-light;
            font-size: 20px;
            padding: 5px;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .splash-inner {
        color: $color-light;
        text-align: center;
        flex: 0 1 auto;
        padding: 0;
        .page-title {
            font-size: 60px;  
            font-weight: 100;
            letter-spacing: 1.5px;
            color: $color-light;
            margin-bottom: 40px;
            span {
                font-weight: 700;
            }
        }
        .page-subtitle {
            letter-spacing: 0.6px;
            font-size: 24px;
            margin: 0;
        }
        .btn {
            margin: 63px 0 0 0;
            background-color: transparent;
            &:hover {
                background-color: $color-btn-activ;
            }
        }
    }
}

/* About us */

.about {
    .container {
        text-align: center;
    }
    .btn {
        margin-top: 105px;
    }
    .row {
        margin: 0 -35px;
    }
    .column {
        align-items: center;
    }
    p {
        line-height: 30px;
    }
    .picture {
        background-color: $color-neutral-1;
        width: 182px;
        height: 182px;
        line-height: 182px;
        border-radius: 50%;
        position: relative;
        img {
            padding: 64px 0 65px 0;            
        }
    }
    .accent {
           background-color: $color-main; 
        }
    h3 {
        margin: 87px 0 48px 0;
        color: black;
    }
}

/* Work */

.work {
    padding-bottom: 0;
    &>div:first-child {
        background-color: $color-bgr-alt;
        p, h2 {
            text-align: left;
        }
        
    }   
    .row {
        justify-content: center; 
        min-height: 703px;
        img {
            height: 374px;
            display: flex;
            align-self: center;
            margin: 72px 0 0 0;
        }
        h2 {
            color: $color-neutral-d;
            font-size: 60px;
            font-weight: 200;
            margin-bottom: 72px 0;
            text-align: right;
        }
        p {
            line-height: 36px;
            text-align: right;
            margin: 0 0 72px 0;
        }
        .btn {
            margin: 0 0 36px 0;
        }
        div {
            align-items: flex-start;
            max-width: 711px;
            justify-content: center;
        }
        div:first-child {
            align-items: flex-end;
        }
    }
}

/* Opinions */

.opinions {
    padding-bottom: 0;
    .container-100 {
        background-image: url('../images/opinions_bgr.png');
        background-position: center center;
        background-size: cover;
        text-align: center;
        height: 703px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    p { 
        color: $color-light;
        letter-spacing: 0.45px;
        font-weight: 300;
    }
    p:nth-child(2) {
        font-size: 30px;
        margin: 45px 0 38px 0;
        span {
            color: $color-main;
        }
    }  
}

/* Services */

.services {
    padding-bottom: 0;
    background-color: $color-bgr-alt;
    .row {
        margin: 0 -25px;
    }
    .column {
        flex: 1 0 50%;
        min-width: 470px;
        flex-direction: row;
        align-items: flex-start;
    }
    .picture {
        height: 95px;
        width: 95px;
        background-color: $color-light;
        border-radius: 50%;
        margin: 0 25px 25px 0;
        text-align: center;
        img {
            line-height: 95px;
            padding: 31px;
        }
    }
    h3 {
        font-size: 60px;
        color: $color-neutral-d;
        font-weight: 200;
        letter-spacing: 1.5px;
        margin: 0 0 43px 0;
    }
    p {
        color: $color-neutral;
        line-height: 45px;
    }
}

/* Team */

.team {
    padding-bottom: 0;
    .container-100 {
        padding: 0;
    }
    .row {
        justify-content: center;
        margin: 0;
        padding-top: 45px;
    }
    .column {
        padding: 0;
        flex: 1 1 20%;
        position: relative;
    }
    .member {
        height: 20vw;
        width: 20vw;
        &::before {
            content: '';
            background-color: $color-main; 
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 500ms;
            opacity: 0;
        }
        &:hover {
            p {
                opacity: 1;
                transition: all 500ms;
            }
            &::before {
                opacity: 0.9019607843137255;
            }
            
        }
    }
    img {
        width:100%;
        height:100%;
    }
    p {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        font-size: 36px;
        color: $color-light;
        cursor: default;
        text-align: center;
    }
}

/* Pricing */

.pricing {
    background-color: $color-bgr-alt;
    .column {
        padding: 45px 14px;
    }
    .box-title{
        padding: 57px 35px;
        border-bottom: 1px solid $color-bgr-alt;
        h3 {
            font-size: 60px;
            font-weight: 400;
            color: $color-main;
            margin: 0;
        }
        p {
            opacity: 0.45;
        }
    }
    .box {
        background-color: $color-light;
        &>div:nth-child(2) {
            padding: 65px 35px;
            line-height: 2.5;
        }
    }
    .purchase {
        background-color: $color-main;
        padding: 30px 35px;
        display: flex;
        justify-content: space-between;
        &:hover {
            background-color: $color-activ;
        }
        span {
            text-transform: uppercase;
            color: $color-light;
            font-weight: 700;
            letter-spacing: 0.2em;
        }
    }
}

/* Map */

.map {
    .column {
        flex: 0 1 50%;
        justify-content: center;
        position: relative;
        align-items: flex-start;
    }
    
    p {
        line-height: 2;
        padding: 70px 0;
    }
    img {
       width: 49vw;
       position: absolute;
       top: 50%;
       left: 0;
       transform: translateY(-50%);
    }
}

/* Media */

@media (max-width: 1200px) {

    section {
        padding: 25px 0;
    }
    .section-title {
        margin-bottom: 40px;
    }
    .services {
        h3 {
            font-size: 48px;
        }
    }
    .about {
        .column {
            flex: 0 0 50%;
        }
    }
    .work {
        .row {
            img {
                height: auto;
                width: 100%;
                min-width: 450px;
            }
            .column {
                min-width: 430px;
            }
            h2 {
                font-size: 48px;    
            }
        }
     
    }
    .pricing {
        .column {
            flex: 1 0 50%;
        }
    }
}

@media (max-width: 925px) { 
    .work {
        &>div:last-child {
            .row {
                flex-direction: column-reverse;
            }    
        }
    }
    header {
        .menu {
            ul {
                display: none;
            }
            .fas {
                display: inline-block;
            }
            .active {
                border: solid;
                border-radius: 2px;
            }
            .expanded {
                display: inline-block;
                text-align: right;
                padding-left: 10px;
                &>li {
                    display: block;
                    margin: 0 20px 5px 0;
                }
            }
        }
    }
    .team {
        .column {
            flex: 1 1 50%;
        }
        .member {
            height: 50vw;
            width: 50vw;
        }
    }
    .pricing {    
        .box {
            .box-title {
                padding: 35px;
            }
            &>div:nth-child(2) {
                padding: 35px;
                line-height: 2;
            }
        }
    }
    .map {
        .row {
            flex-direction: column-reverse;
        }
        .column {
            flex: 0 1 100%;
        }
        p {
            padding: 25px 0;
        }
        img {
            width: 100%;
            position: static;
            transform: none;
        }
    }
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }  
    header {
        .splash-inner {
            .page-title {
                font-size: 44px;
            }
            .page-subtitle {
                font-size: 18px;
            }
            .btn {
            margin: 30px 0 0 0;
            }
        }    
    }
    
    .about {
          .column {
        flex: 0 0 100%;
        }
    }
    .work {
        .row {
            img {
                min-width: auto;
            }
            .column {
                min-width: auto;
                flex: 0 0 100%;
            }
            p {
                line-height: 1.5;
            }
            h2 {
                font-size: 36px;    
            }
        }
    }
    .opinions {
        .container-100 {
            height: 500px;
        }
        img {
            margin: 10% auto;
        }
        p:nth-child(2) {
            font-size: 24px;
            margin: 10% 0;
        }    
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 48px;
    }
    header {
        .nav-bar{
            .column {
                flex: 1;
            }
        }
    }
    .services {
        .column {
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex: 0 0 100%;
            min-width: 0;
            padding: 25px;
        }
        h3 {
            font-size: 40px;
        }
        p {
            line-height: 32px;
        }
    }
}